<div class="top-container">
  <div class="inner">
    <div class="top-about">
      <h1 class ="text">℃</h1>
      <h5 class ="section">☆→★の時は、運営側の認証マークです！！</h5>
      <i class="fab fa-instagram-square"></i>
      <i class="fab fa-twitter-square"></i>

    </div>

    </div>
  </div>
</div>






