<div class="top-container">
  <div class="inner">
    <div class="top-bg">
      <h1 class ="text">sauna is life</h1>
    </div>
    <div class="section">
      <div class="section-title">

      </div>
      <div>
        <h4 class="introduction">
          ととのった！全国のサウナ愛好家(通称サウナー)はサウナ活動で最高の快感に達することをこう呼びます。<br>
          「一度、この感覚を味わうと、もうサウナからは離れられません」<br>
          サウナや水風呂を何回かくり返した後、椅子やベンチでゆっくりと休憩をすると血液が体を、酸素が脳を駆け巡り、ディープリラックス状態になります。<br>
          この「とてつもなく気持ち良い、天国のような快感」に達することを、サウナーは「ととのった！」と呼ぶのです.</h4>
      </div>
    </div>
  </div>
</div>

