<div class="row justify-content-end">
<% if user_signed_in? %>
   <%= render 'layouts/search' %>
<% end %>
</div>

<div class="container px-5 px-sm-0">
  <div class="row">
<table class='table'>
  <thead>
    <tr>
      <th>施設画像</th>
      <th>施設名</th>
      <th>URL</th>
      <th>評価</th>
      <th>公認</th>
      <th>コメント</th>
      <th>いいね</th>
      <th>投稿詳細</th>
    </tr>
  </thead>
  <tbody>
    <%= render 'index', posts: @posts  %>
  </tbody>
</table>
  </div>
</div>


  <script>
    $('.post-evaluation').raty({
      readOnly: true,
      score: function() {
        return $(this).attr('data-score');
      },
      path: '/assets/'
    });
  </script>
  <%= render 'layouts/fixed_btn' %>
  <div class="row justify-content-center">
  <%= paginate @posts %>
  </div>