
<table class='table table-hover table-inverse'>
  <thead>
    <tr>
      <th></th>
      <th>名前</th>
      <th>URL</th>
      <th>評価</th>
      <th>公認</th>
    </tr>
  </thead>
  <tbody>
    <%= render 'index', posts: @posts  %>
  </tbody>
</table>
  <script>
    $('.post-evaluation').raty({
      readOnly: true,
      score: function() {
        return $(this).attr('data-score');
      },
      path: '/assets/'
    });
  </script>
  <%= render 'layouts/fixed_btn' %>