<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-12'>

<% if @model == 'user' %>
    <h3>ユーザ検索結果 "<%= @content %>"</h3>
  <%= render 'users/index', users: @records %>
<% elsif @model == 'post' %>
    <h3>投稿検索結果 "<%= @content %>"</h3>
  <%= render 'posts/index', posts: @records %>
<% end %>

　　</div>
　</div>
</div>